#### Comprehension

*It is a method to create sequences from another sequences in a clear and concise manner*<Br>
*Also this brings in better coade readablity*

**List Comprehension**                      *(Most Commonly used)*   <Br>
**Set Comprehension<Br>
  Dictiionary Comprehension**

In [1]:
#List Comprehension
# [ item for item in list]

In [11]:
[i for i in range(0,10,2)]    # List Comprehension

[0, 2, 4, 6, 8]

In [9]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [10]:
for i in range(0,10,2):
    print(i+1)

1
3
5
7
9

In [13]:
[i+i for i in range(0,10,2)]        #List Comprehension

[0, 4, 8, 12, 16]

In [14]:
[i*i for i in range(0,10) if i%3==0]

[0, 9, 36, 81]

In [21]:
[i for i in [11,1,11,1,1,1,1,233,423,1,21,21,]]

[11, 1, 11, 1, 1, 1, 1, 233, 423, 1, 21, 21]

In [22]:
{i for i in [11,1,11,1,1,1,1,233,423,1,21,21,]}    #Set Comprehension  (Remove Duplicates)

{1, 11, 21, 233, 423}

##### Dictionary Comprehension

**We create dictionary using 2 sequences**  <Br>
    1. **Sequence 1** : *Key* <Br>
    2. **Sequence 2** : *Value* <Br>

In [23]:
manager_list=["Ram","Shyam"]   #Sequence 1
employee_list=["Sachin","Subham"]   #Sequence 2

{m : e for m,e in zip(manager_list,employee_list)}

{'Ram': 'Sachin', 'Shyam': 'Subham'}

In [24]:
name_list =["Sachin", "Subham","Nitesh","Rudra","Harsh"]
company_list =["Highradius","Mindtree","Cognizant","TCS","Upgrad"]

{n : c for n,c in zip(name_list,company_list)}

{'Sachin': 'Highradius',
 'Subham': 'Mindtree',
 'Nitesh': 'Cognizant',
 'Rudra': 'TCS',
 'Harsh': 'Upgrad'}

In [28]:
prefix = "Employee Name is "     #Concatenation
[prefix + i for i in["Sachin", "Subham","Nitesh","Rudra","Harsh"]]

['Employee Name is Sachin',
 'Employee Name is Subham',
 'Employee Name is Nitesh',
 'Employee Name is Rudra',
 'Employee Name is Harsh']

In [35]:
def List2Dict(input_list):
    output_dict = {i :i**3 for i in input_list}
    return output_dict

input_list = [1,2,3,4]
List2Dict(input_list)

{1: 1, 2: 8, 3: 27, 4: 64}

In [54]:
def Extract_vowels(input_string):
    output_dic = {char : char.upper() for char in input_string.lower() if char in'aeiou'}
    return output_dic

input_string= "Sachin Kumar"
Extract_vowels(input_string)

{'a': 'A', 'i': 'I', 'u': 'U'}

In [64]:
#This type of functions are defined when the a piece of a code is reused/called multiple time across a application
def extract_the_vowels():
    #body or logic
    return output_str

# Adhoc Function : Lambda Function (Does not have a body) | Where there is no complex manipulation : Anonymous functions
#It can handle only single expression

In [58]:
lambda1 = lambda x : x+2  #lambda input parameter : the output parameter

In [61]:
lambda1(5)

7

In [65]:
def plus_2(x):
    #lambda functions
    # i can define another sub function
    return x+2
plus_2(5)

7

In [70]:
lambda2 = lambda x,y:x+y-4   #Single line

In [71]:
lambda2(2,3)

1

## Functional Programming

**IN-Built functions**

1. Map
2. Filter
2. Reduce

In [ ]:
#Syntax of map
outcome = map(func,seq)

In [76]:
def double_value(x):
    return 2*x

numbers = [1,2,2,3,4,5]
outcome = map(double_value,numbers)
print(outcome)

<map object at 0x000002997F7BD9D0>

In [77]:
[i for i in map(double_value,numbers)] #List comprehension

[2, 4, 4, 6, 8, 10]

In [79]:
{i for i in map(double_value,numbers)} #Set comprehension

{2, 4, 6, 8, 10}

In [ ]:
#Syntax of filter
outcome = filter(func,seq)

In [80]:
def is_even(x):
    return x%2==0
                                    
numbers = [1,2,3,4,5]
[i for i in filter(is_even,numbers)]

[2, 4]