In [ ]:
class Upgrad:
    def __init__(self,name,age,city,course,gender):
        self.name =  name
        self.age =  age
        self.city =  city
        self.course =  course
        self.gender =  gender
        
    def qualification(self):
        print ("Engineer")

In [ ]:
student_info = Upgrad("Sachin",22,"Ranchi","Data Science","Male")

In [ ]:
student_info.city

In [ ]:
student_info.age

In [ ]:
student_info.qualification()

In [11]:
class Calculator:
    def __init__(self,input_1,input_2):        
        self.input_1 = input_1
        self.input_2 = input_2
        
    def addition(self):
        return self.input_1 + self.input_2
    
    def substraction(self):
        return self.input_1 - self.input_2
    
    def multiplication(self):
        return self.input_1 * self.input_2
    
    def division(self):
        return self.input_1 / self.input_2

In [18]:
my_cals = Calculator(4,2)

In [19]:
my_cals.addition()

6

In [20]:
my_cals.substraction()

2

In [21]:
my_cals.multiplication()

8

In [22]:
my_cals.division()

2.0

In [24]:
def pattern(n):
    for i in range(0,n):
        for j in range(0, i+1):
            print("*", end="")
        print("\r")
        
n= 10
pattern(n)

*
**
***
****
*****
******
*******
********
*********
**********

In [25]:
n= 10
for i in range(1,n+1):         #Optimised
    print(f"{i*'*'}")

*
**
***
****
*****
******
*******
********
*********
**********

In [34]:
n=int(input("Enter the steps you want to be printed: "))
for i in range (1,n+1):
    for j in range(n-1):
        print("", end=" ")
    for k in range(i-1):
        print("*",end =" ")
    print('*')

Enter the steps you want to be printed: 10
         *
         * *
         * * *
         * * * *
         * * * * *
         * * * * * *
         * * * * * * *
         * * * * * * * *
         * * * * * * * * *
         * * * * * * * * * *

In [36]:
def pyramid(rows):
    for i in range(rows):
        print(' '*(rows - i - 1) + '*' *(2 * i + 1))
        
pyramid(10)

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

In [37]:
class ListOperations:
    def __init__(self, input_list):
        self.input_list = input_list

    def minimum(self):
        if not self.input_list:
            return None
        return min(self.input_list)

    def maximum(self):
        if not self.input_list:
            return None
        return max(self.input_list)

    def occurrence(self, number):
        if not self.input_list:
            return 0
        
        try:
            return self.input_list.count(number)
        except ValueError:
            raise ValueError(f"The number {number} is not present in the list.")

In [46]:
if __name__ == "__main__":
    input_list = [2,2,2,1,4,5,6,7,8,9,0]
    list_operations = ListOperations(input_list)

In [47]:
min_value = list_operations.minimum() 
print(f"Minimum: {min_value}")

Minimum: 0

In [48]:
max_value = list_operations.maximum()
print(f"Maximum: {max_value}")

Maximum: 9

In [50]:
number_to_find = 2
try:
    occurrence_count = list_operations.occurrence(number_to_find)
    print(f"Occurrence of {number_to_find}: {occurrence_count}")
except ValueError as e:
    print(e)

Occurrence of 2: 3

In [76]:
class ListOperation:
    def __init__(self, inputlist):
        self.inputlist = inputlist

    def getMax(self):
        return max(self.inputlist)
        
    def getMin(self):
        return min(self.inputlist)
        
    def getOccurances(self,number):
        if number in self.inputlist:
            count = 0
            for i in self.inputlist:
                if i == number:
                    count = count + 1
            print("Total Occurance : ", count)
        else:
            print("The Number is not in the list provided.")
        
numbers = [1, 2, 3, 4, 2, 3, 4, 5, 3, 4, 4, 5, 6]
lOps = ListOperation(numbers)

In [77]:
lOps.inputlist

[1, 2, 3, 4, 2, 3, 4, 5, 3, 4, 4, 5, 6]

In [78]:
lOps.getMax()

6

In [79]:
lOps.getMin()

1

In [80]:
lOps.getOccurances(3)

Total Occurance :  3

In [81]:
lOps.getOccurances(10)

The Number is not in the list provided.