In [ ]:
# Class Name : Dog

# Class Dog (Attributes/information/data)
# 1. Name
# 2. Breed 
# 3. Age
# 4. Color 
# 5. Gender

# Class Dog (Behaviour/Methods)
# 1. bark
# 2. wag_tail
# 3. eat
# 4. shake_hand
# 5. sleep
# 6. fetch_ball

In [1]:
class Dog:
    
    # Object Initialization
    def __init__(self,name,breed,age,color,gender):
        self.name = name
        self.breed = breed
        self.age = age
        self.color = color
        self.gender = gender
    
    def bark(self):
        # logics
        print("Woof !!")
    
    def wag_tail(self):
        # logics
        print(" wags the tail :-) ")

In [2]:
my_dog = Dog("spot","golden_retriver",5,"gold","male")

In [3]:
my_dog.name

'spot'

In [4]:
my_dog.bark()

Woof !!

In [ ]:
#class name should be camel case

Upgrad (Single)

DataPreparation (More than 1)

#function

displaySmallMessage

# variables

name

student_name

father_name

date_of_birth

In [ ]:
write a program to create a Calculator Functionality using class and objects

In [ ]:
# class name : Calculator 

# data/attributes : input_1 , input_2

# methods/behaviours

# 1. Addition
# 2. Substraction
# 3. Multiplication
# 4. Division

In [61]:
def check_ab(a="srikant",b): # Optional & Mandatory Parameters
    print(a,b)

check_ab("srikant",)

SyntaxError: non-default argument follows default argument (2207533026.py, line 1)

In [55]:
def check_ab(a,b): # Mandatory Parameters
    print(a,b)

check_ab("srikant","subham")

srikant subham

In [57]:
def check_ab(a="shyam",b="ram"): #Default Parameters/Optional parameters
    print(a,b)

In [60]:
check_ab()

shyam ram

In [59]:
check_ab("srikant","sahoo")

srikant sahoo

In [66]:
class Calculator:
    def __init__(self, input_1, input_2):
        self.input_1 = input_1
        self.input_2 = input_2
        #self.input_3 = input_1+input_2
        print("Object is Intialized")

    #def addition(self,input_1,input_2): # this called a mandatory parameter
    def addition(self,input_1 = 0,input_2 = 0): 
        if input_1 == 0 and input_2 == 0:
            # inputs are now the original initialized values 
            input_1 = self.input_1
            input_2 = self.input_2
        return input_1 + input_2

    def subtraction(self,input_1 = 0,input_2 = 0):
        if input_1 == 0 and input_2 == 0:
            input_1 = self.input_1
            input_2 = self.input_2
        return input_1 - input_2

    def multiplication(self,input_1 = 0,input_2 = 0):
        if input_1 == 0 and input_2 == 0:
            input_1 = self.input_1
            input_2 = self.input_2
        return input_1 * input_2

    def division(self,input_1 = 0,input_2 = 0):
        try :
            if input_1 == 0 and input_2 == 0:
                input_1 = self.input_1
                input_2 = self.input_2
            return input_1 / input_2
        except:
            print("both input_1 and input_2 are provided with value 0")

In [46]:
my_calc = Calculator(1,2)

Object is Intialized

In [47]:
my_calc.input_1

1

In [48]:
my_calc.input_2

2

In [53]:
my_calc.addition()

3

In [52]:
my_calc.addition(4,5)

9

In [67]:
my_calc = Calculator(0,0)
my_calc.division()

Object is Intialized
both input_1 and input_2 are provided with value 0

In [ ]:
__init__ = In Python Object Initialization is doing using/under the method 

__init__ is a special python bult-in keyword that is called when an object is created 

__init__ can take n numbers of input arguments and but it cannot have any return value 

self {you can have your own accesor name} is again a python accessor instance inside class to access attributes/variables within class and within methods

In [ ]:
PAtterns

*
**
***
****

Itertive Loops

n = 10
0 *
1 **
2 ***

9 ***********

In [70]:
def pattern(n):
    for i in range(0, n):
        for j in range(0, i+1):
            print("* ",end="")
        print("\r")

n= 5
pattern(n)

*
* *
* * *
* * * *
* * * * *

In [100]:
n= 5
for i in range(1,n+1):
    #print(i)
    print(f"{i*'*'}")

*
**
***
****
*****

In [74]:
n=int(input())
for i in range(1,n+1):
    for j in range(n-1):
          print(" ", end=" ")
    for k in range(i-1):
          print("*",end=" ")
    print('*')

10
                  *
                  * *
                  * * *
                  * * * *
                  * * * * *
                  * * * * * *
                  * * * * * * *
                  * * * * * * * *
                  * * * * * * * * *
                  * * * * * * * * * *

In [76]:
def pyramid(rows):
    for i in range(rows):
        print(' ' * (rows - i - 1) + '*' * (2 * i + 1))


pyramid(5)

    *
   ***
  *****
 *******
*********

In [ ]:
you need to pass a list , you need to return the maximum , minimum , no of occurance of a number 


class ListOperations

input a list /attribute [2,2,2,1,4,5,6,7,8,9,10,0]

functions

minimum

maximum 

occurances of a number (2) : 3   (11) : "Number given is not a part of the list"

try and exception block

In [ ]:
class classname

def __init__(self,input_list)
    self.input_list  = input_list

In [77]:
# mylist = [2,2,2,1,4,5,6,7,8,9,10,0]

max in [2,2,2,1,4,5,6,7,8,9,10,0]

False

In [93]:
class ListOperation:
    def __init__(self, inputlist):
        self.inputlist = inputlist

    def getMax(self):
        return max(self.inputlist)
        
    def getMin(self):
        return min(self.inputlist)
        
    def getOccurances(self,number):
        if number in self.inputlist:
            count = 0
            for i in self.inputlist:
                if i == number:
                    count = count + 1
            print("Total Occurance : ", count)
        else:
            print("The Number is not in the list provided.")
        
numbers = [1, 2, 3, 4, 2, 3, 4, 5, 3, 4, 4, 5, 6]
lOps = ListOperation(numbers)

In [94]:
lOps.inputlist

[1, 2, 3, 4, 2, 3, 4, 5, 3, 4, 4, 5, 6]

In [95]:
lOps.getMax()

6

In [96]:
lOps.getMin()

1

In [97]:
lOps.getOccurances(3)

Total Occurance :  3

In [98]:
lOps.getOccurances(10)

The Number is not in the list provided.