### <font color =red>Relational operators

-  compares the value on either side of the operator and returns the boolean value as True or False

In [2]:
10 == 10  #Equal to operator

True

### <font color =red> Alert!!!

#### = is an assignment operator, to assign value of an expression on right to value of variable on left.

In [3]:
10 == 5

False

In [4]:
20 != 5    #Not equal to operator

True

In [5]:
10 > 5      #Greater than Operator

True

In [6]:
10 < 5       # Less than operator

False

In [7]:
10 <=5  #Greater than equal to operator

False

In [8]:
10 >=5 #Less than equal to operator

True

### <font color =red> Decision Making

**Write a program to check value in variable x is even or odd**

In [11]:
x =10
if x %2 == 0:
    print(x, "is even number")
else:
    print(x, "is odd number")

10 is even number

In [12]:
x =45
if x %2 == 0:
    print(x, "is even number")
else:
    print(x, "is odd number")

45 is odd number

**Write a program to accept age of visitor and allows him to PM's party only if he is above 60 years or below 18 years of age**

In [18]:
x= int(input("Enter your age : "))
y= input("Enter yor name :")
if x <= 18 or x >= 60:
    print("Welcome to tht party", y)
else:                                              #single condition
    print("Sorry!! you do not fit in PM's age criteria", y)

Enter your age : 12
Enter yor name :Sachin
Welcome to tht party Sachin

**Write a program which offers various discounts based on purchase bills**

In [23]:
shopping_total = int(input("Enter the total Bill amount : "))

if shopping_total >= 5000:
    print("You won a discount voucher of flat 1000 on your next purchase")
elif shopping_total >= 2500:
    print("You won a discount voucher of flat 500 on your next purchase")      # Multiple Conditions
elif shopping_total >= 1000:
    print("You won a discount voucher of flat 100 on your next purchase")
else:
    print("OOPS!! no discount for you!!!")  #This is not mandatory to use , it is upto the wish of the programmer

Enter the total Bill amount : 5100
You won a discount voucher of flat 1000 on your next purchase

**Example on Nested if-else**

In [26]:
world_cups = {2019 : ['England', 'New-Zeland'], 2015:["Australia", "New Zeland"], 2011 : ["India", "Sri Lanka"], 2007: ["Australia", "Sri Lanka"], 2003: ["Australia", "India"]}

year = int(input("Enter year to check India made it to Finals in 20th century : "))

if year in world_cups :
    if "India" in world_cups[year] :
        print("India made it to Finals")
    else:
        print("India could not make it to Finals")
        
else:
    print("World cup wasnt played in", year)

Enter year to check India made it to Finals in 20th century : 2011
India made it to Finals

In [32]:
if True or True:
    if False and True or False:
        print('A')
    elif False and False or True and True:
        print('B')
    else:
        print('C')
else:
    print('D')

B

## <font color = red> **Iteration**

In [33]:
# Iterate over a list of integers

l = [1,2,3,4,5,6]
for i in l :
    print(i)

1
2
3
4
5
6

In [34]:
# Iterate over a string

string = "Himachal Pradesh"
for ch in string:
    print(ch)

H
i
m
a
c
h
a
l

P
r
a
d
e
s
h

In [35]:
# Iterate over a string -  modify print using end
string = "Himachal Pradesh"
for ch in string:
    print(ch, end = ":") #default value of end = "\n"

H:i:m:a:c:h:a:l: :P:r:a:d:e:s:h:

In [36]:
# Iterating over a dictionary
student_data = {1:['Sam', 24], 2:['Sharma', 25], 3:['Saina', 26], 4:['Saif', 24], 5:['Varun',27]}
for key, val in student_data.items():
    print(key,val)

1 ['Sam', 24]
2 ['Sharma', 25]
3 ['Saina', 26]
4 ['Saif', 24]
5 ['Varun', 27]

In [37]:
#Iterate over the keys of a dictionary
for key in student_data.keys():
    print(key)

1
2
3
4
5

In [38]:
#Generate range of values
range(1,101)

range(1, 101)

In [39]:
l = list(range(1,101))

In [40]:
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [42]:
#Iterate over range of values

for i in range(1,101):
    print(i, end =" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [45]:
#different variations in range
print(list(range(1,100,2)))  #Gives number from 1 t0 100 with a step count of 2
print(list(range(100,0,-1))) #Gives a reversed sequence of numbers from 100 to 1

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
[100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

**Write a program to print prime numbers between 1 to 20**

In [47]:
for n in range(1,20):
    flag = True
    for i in range(2,n):
        if n % i == 0:
            flag =  False
            break
    if flag :
        print(n)

1
2
3
5
7
11
13
17
19

### While - loop

In [48]:
ch = ""
while ch != "quit":
    ch = input()
    print(ch)

1
1
1
1
1
1
3
3
quit
quit

In [49]:
while True:
    ch = input()
    if ch == "quit":
        break
    print(ch)

1
1
4
4
quit

## <font color = red> Comprehensions

***List Comprehension***

In [2]:
l1 = ["automobiles","Honda", "BEnz", "Suzuki",  "Morris Garages"]
l2 = []
for i in l1 :    # 'i' represents the elements
    l2.append(len(i))
l2

[11, 5, 4, 6, 14]

**The Functional approach**

In [3]:
# Example on list comprehension
l1 = ["automobiles","Honda", "BEnz", "Suzuki",  "Morris Garages"]

# Create a lsit consisting of length of each element from the above List
l2= [len(i) for i in l1]
print(l2)

[11, 5, 4, 6, 14]

In [4]:
# iterating over l1 and l2 simultaneously

for i,j in zip(l1,l2):
    print(i, "-", j)

automobiles - 11
Honda - 5
BEnz - 4
Suzuki - 6
Morris Garages - 14

***Dictionary Comprehension***

In [ ]:
# Example of dictionary comprehension
l1 = ["automobiles","Honda", "BEnz", "Suzuki",  "Morris Garages"]

# Create a dictionary consisting of element and length of each element from the above list
d = {i :len(i) for i in l1}
print(d)

***Set Comprehension***

In [1]:
word = input("Enter a word : ")
vowels = {i for i in word if i in "AEIOUaeiou"}
vowels

Enter a word : Aeroplane

{'A', 'a', 'e', 'o'}

## <font color = red> Functions

**Ex. Write a function which takes a value as a parmneter and returns its factorial**

In [2]:
def factorial(n):
    fact = 1
    for i in range(1, n+1):
        fact *= i
    return fact
factorial(5)

120

**Function Arguments**

In [6]:
def func(name, age = 35): #age is default parameter
    print("name : ", name)
    print("age : " , age)

In [7]:
func("Jane", 25)

name :  Jane
age :  25

In [8]:
func("Jane")

name :  Jane
age :  35

In [9]:
def func(name, age =35, city ="Mumbai"):
    print("name : ", name)
    print("age : ", age)
    print("city : ", city)
func("Jane", city ="Bangalore") #Keyword argument

name :  Jane
age :  35
city :  Bangalore

In [13]:
func("Sachin", 22, city = "Ranchi")

name :  Sachin
age :  22
city :  Ranchi

In [14]:
def var_func(*args):
    print(args)
    
var_func(1,3,"abc")  #variable length argument

(1, 3, 'abc')

## Lambda Function

In [23]:
# Write a lambda function to check a number is even or odd

f = lambda x: "even" if x % 2 == 0 else "odd"
f(10)

'even'

### <font color =red> map - filter- reduce

**Some more examples on map-filter-reduce**

In [2]:
L1 = [2,4,5,9]
print(map(lambda x: x**2, L1))
print(list(map(lambda x: x**2, L1)))

<map object at 0x0000020C5D221250>
[4, 16, 25, 81]

**Defining a function and using it in map**

In [3]:
L1 = [2,4,5]
def squareit(n):
    return n**2

print(list(map(squareit, L1)))

[4, 16, 25]

**Filter function to return the multiples of 3**

In [4]:
my_list = [3,4,5,6,7,8,9]

divby3 = lambda x: x % 3 ==0

div = filter(divby3, my_list)
print(list(div))

[3, 6, 9]

**Ex. Write a python program to count the students above age 18**

In [10]:
students_data = {1:['Sam', 15] , 2:['Sharma',18], 3:['Saina', 16], 4:['Saif',19], 5:['Varun',20]}
len(list(filter(lambda x: x[1] > 18, students_data.values())))

2

**Reduce to return product of elements**

In [11]:
from functools import reduce  #redyce in not an python inbuilt function

q = reduce(lambda x, y: x*y, range(1,4))
print(q)

6