# Sets

-  Sets are a type of collection like lists and tuples, storing mixed data.
-  Sets are enclosed within curly brackets and elements are written as comma-separated.
-  Sets are unordered
-  Sets does not allow duplicates

In [1]:
l = [1,2,3,4,5,5]         #creating a set deletes duplicate elements
set_l = set(l)
set(l)

{1, 2, 3, 4, 5}

In [2]:
len(set_l)

5

In [8]:
#adding an object in sets
a = {1,2,3,4,5}      # Not neccessary that the set will add elements at the last position
a.add("India",)     # Set chooses the location randomly
a

{1, 2, 3, 4, 5, 'India'}

In [10]:
# Removing an object in sets
a = {1, 2, 3, 4, 5, 'India'}
a.remove("India")
a

{1, 2, 3, 4, 5}

In [11]:
# Set Operations
A ={0,2,4,6,8}
B ={1,2,3,4,5}

In [12]:
print(A | B) # Union
print(A.union(B))  # Both ways we can do

{0, 1, 2, 3, 4, 5, 6, 8}
{0, 1, 2, 3, 4, 5, 6, 8}

In [14]:
print(A&B) #Intersection
print(A.intersection(B))       #common elements

{2, 4}
{2, 4}

In [15]:
print(A-B)  #Difference  
print(A.difference(B))   #Removing all the elements of set "B" from set "A" or only'A' elements

{0, 8, 6}
{0, 8, 6}

In [16]:
#Symmetric Difference
print(A ^B)                           #Gives the uncommon elements of the two sets

{0, 1, 3, 5, 6, 8}

In [17]:
nums = set([1,1,2,3,3,3,4])
print(len(nums))

4