## Tuples

In [3]:
t =("Sachin", 22, 5.7)
print(t)                       #create a tuple

('Sachin', 22, 5.7)

In [4]:
type(t)

tuple

In [7]:
sample_tuple=  "Sachin",22,5.6
print(sample_tuple)

('Sachin', 22, 5.6)

In [9]:
type(sample_tuple)

tuple

In [11]:
sample_tuple1= "sachin",
print(sample_tuple1)

('sachin',)

In [12]:
type(sample_tuple1)

tuple

In [13]:
sample_tuple2= (3,)
print(sample_tuple2)

(3,)

In [16]:
type(sample_tuple2)

tuple

In [19]:
check_tuple = (3)
print(check_tuple)
type(check_tuple)   #This is not a tuple

3

int

#### Indexing in tuples

In [41]:
sachin = ("Ranchi", 22, "Male")
                                      #Indexing(How to access elements in tuple)

In [46]:
sachin[0]

'Ranchi'

### Slicing in tuple

In [56]:
sachin_1 = ("Ranchi",22,"MAle","Engineer",2022)   #slicing in tuple

In [57]:
sachin_1[0:3]    #slicing first three elements

('Ranchi', 22, 'MAle')

In [66]:
sachin_1[-3:]      #to slice last three element

('MAle', 'Engineer', 2022)

#### Length of a tuple

In [65]:
len(sachin_1)                   #Length of a tuple

5

#### Concatenating in tuples

In [67]:
t1= ("sachin", 22, "Male")
t2= ("Ranchi",2024)
t3 = t1 + t2                # adding contents of t1 to t2 and storing in t3
t3

('sachin', 22, 'Male', 'Ranchi', 2024)

In [68]:
t4 = t2+t1
t4

('Ranchi', 2024, 'sachin', 22, 'Male')

#### sum()-min()-max()

In [74]:
smm =(2,2,3,4,5,3,8,65,5,9,2,0)

In [75]:
sum(smm)

108

In [76]:
min(smm)

0

In [77]:
max(smm)

65

### Immutablity of tuples

In [78]:
immu_tuple = "sachin", 22, "ranchi"
t[2] = 24                                 # cannot be altered this way

TypeError: 'tuple' object does not support item assignment

In [83]:
new_tup = immu_tuple[0], 22 , immu_tuple[2]
new_tup                          # can be altered by slicing the elements

('sachin', 22, 'ranchi')

#### Sorting

In [84]:
sor =  (3,5,34,12,13,0,78,1,69)     # this gives the output as a list
sorted(sor)

[0, 1, 3, 5, 12, 13, 34, 69, 78]

In [86]:
x= sorted(sor)
tuple(x)                             # Convert the sorted list into tuples

(0, 1, 3, 5, 12, 13, 34, 69, 78)

In [88]:
# nested tuples

nt =(2,3,4,"ranchi",("Python","Java"))

# Acccess "Java" from the nested tuples
nt[4][1]

'Java'

#### Packing and Unpacking in Tuples

In [90]:
tp = (1,2,3,4,5)   #packing
(a,b,c,d,e) =tp    #unpacking                         #assigning a value
print(d)

4

__Dir() -  to view the attributes or methods of an object__

In [91]:
t =()
print(dir(t))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']